.order {
  @media screen and (max-width: 767px) {
    padding-bottom: 90px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 170px;
  }

  &__container {
    position: relative;
    @media screen and (max-width: 768px) {
      padding: 0 20px;
    }
    @media screen and (min-width: 768px) {
      padding: 0 60px;
    }
    @media screen and (min-width: 1440px) {
      padding: 0 0 0 190;
    }
  }

  &__content-wrap {
    @media screen and (min-width: 1440px) {
      width: 400px;
    }
  }

  &__title {
    color: #e7e7e7;
    font-family: Gilroy;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 64.8px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    // animation-name: title-move;
    // animation-duration: 2000ms;
    // animation: animate 2s ease-in-out infinite;

    animation: letterSpacingAnimation 5s ease-in-out infinite;

    @media screen and (max-width: 767px) {
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 36px */
      letter-spacing: 0.6px;
      text-transform: uppercase;
      
    }

    @media screen and (max-width: 480px) {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 28.8px */
      letter-spacing: 0.48px;
      text-transform: uppercase;
    }

    @keyframes letterSpacingAnimation {
      0% {
        letter-spacing: 1.36px;
      }
      50% {
        letter-spacing: 4px;
      }
      100% {
        letter-spacing: 1.36px;
      }
    }

  }

  &__list {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
    }
  }

  &__list__item {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &:first-child {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  &__list__button {
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 25px 0;
    background-color: #191919;
    width: 100%;
    cursor: pointer;
  }

  &__button-text {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.2;
  }

  &__arrow-icon {
    animation-duration: 2000ms;
    animation: realisticFloat 4s infiniteease-in-out;
  }

  &__price {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #df3d3a;

    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
      font-size: 30px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1440px) {
      font-size: 54px;
      margin-bottom: 32px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    padding: 22px 0;
    width: 100%;

    border: none;
    background-color: #df3d3a;
    color: rgba(255, 255, 255, 0.9);
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, #b5302d 50%);
    transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
      color 0.5s ease 0s, background-color 0.5s ease;

    &:hover,
    &:focus {
      background-color: #b5302d;
      background-position: -100% 100%;
    }

    @media screen and (min-width: 768px) {
      width: 300px;
    }
    @media screen and (min-width: 1440px) {
      width: 100%;
    }
  }

  &__button__text {
    font-weight: 600;
    font-size: 16px;

    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio__label {
  display: inline-block;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    margin-top: 330px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 510px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.dark {
  background-color: #000;
  margin-right: 20px;
}

.light {
  background-color: #fff;
}

.radio__img {
  position: absolute;
  opacity: 0;
  pointer-events: none;


  @media screen and (max-width: 480px) {
    width: 280px;
    height: 265px;
    flex-shrink: 0;
  }

  @media screen and (max-width: 767px) {
    width: 648px;
    height: 446px;
    flex-shrink: 0;
    margin-top: 32px;

  }

  @media screen and (max-width: 1439px) {
    top: 60px;
    left: 50%;
    width: 648px;
    height: 446px;
    flex-shrink: 0;
    // margin-top: 32px;

    transform: translateX(-50%);
  }

  @media screen and (min-width: 1440px) {
    margin-top: 32px;
    right: 0;
    top: 0;
  }

  @media screen and (max-width: 480px) {
    width: 280px;
    height: 265px;
    flex-shrink: 0;
  }
}

.radio__input:checked + .radio__label {
  // border-color: $accent-color;
  border: 5px solid #df3d3a;
}

.radio__input:checked + .radio__label .radio__img {
  opacity: 1;
}














@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
    filter: blur(10px);
  }
}




@keyframes realisticFloat {
  0% {
    transform: translateY(0) translate(0) rotate(0);
  }
  25% {
    transform: translateY(-10px) translate(-5px) rotate(-3deg);
  }
  50% {
    transform: translateY(5px) translate(5px) rotate(3deg);
  }
  75% {
    transform: translateY(-5px) translate(-3px) rotate(-2deg);
  }
  100% {
    transform: translateY(0) translate(0) rotate(0);
  }
}





































.backdropp {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(210, 210, 210, 0.512);
  transform: scale(0);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  @media screen and (max-width: 767px) {
    padding-top: 93px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
  }
}

.modall {
  position: relative;
  padding: 50px 40px;
  // opacity: 0;
  transform: scale(0);
  background-color: #191919;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 450px;
    height: 600px;
  }

  @media screen and (min-width: 1280px) {
    width: 600px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.9);

  &:hover,
  &:focus {
    fill: #df3d3a;
  }
}

.modal-btn__icon {
  fill: currentColor;
}

.form {
  display: flex;
  flex-direction: column;
}

.item-wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  resize: none;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(255 255 255 / 0.1);
  outline: 0;
  font-size: 16px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 16px;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 250ms #df3d3a;
  font-size: 14px;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: -3px;
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    color: #df3d3a;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #df3d3a, #df3d3a);
  border-image-slice: 1;
}
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.form-check {
  margin-bottom: 70px;
}




.backdrop__wrapperr {
  justify-content: center;
  margin-top: 20px;
  display: block;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  @media screen and (min-width: 480px) {
    display: flex;
    margin-top: 70px;
  }
  
  @media screen and (min-width: 768px) {
    margin-top: 80px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    margin-top: 50px;
  }
}


.real__checkbox {
opacity: 0;
}

.custom__checkbox {
border: 2px solid rgba(255, 255, 255, .8);
width: 30px;
height: 28px;
display: inline-block;
position: relative;
vertical-align: middle;
margin-right: 4px;
}

.custom__checkbox::before {
content: "";
display: inline-block;
width: 22.5px;
height: 19px;
background-image: url(../../public/tickk.svg);
background-size: contain;
background-repeat: no-repeat;
position: absolute;
top: 8px;
left: 20px;
transform: translate(-50%, -50%) scale(0);
transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.real__checkbox:checked + .custom__checkbox::before {
transform: translate(-50%, -50%) scale(1);
}


.backdrop__checked {
  color: #e9edfa;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  
  
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.71;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}

.backdrop__links {
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-underline-offset: 3px;

  text-decoration: underline;
  transition: color 2s cubic-bezier(0.215, 0.610, 0.355, 1), margin-left 3s cubic-bezier(0.215, 0.610, 0.355, 1);
  
  @media screen and (min-width: 488px) {
    font-size: 16px;
    line-height: 1.71;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.71;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.71;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}

.backdrop__links:hover {
  color: #df3d3a;
  margin-left: 3px;
}








// .form-check__item {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .form-check__field {
//   position: absolute;
//   appearance: none;
// }
// .icon-box {
//   position: relative;
//   display: block;
//   margin-right: 8px;

//   width: 30px;
//   height: 28px;

//   border: 2px solid rgba(255, 255, 255, 0.8);
//   cursor: pointer;
// }

// .form__icon {
//   display: none;
//   position: absolute;
//   top: -5px;
//   right: -5px;
// }

// .form-check__field:checked .icon-box .form__icon {
//   display: block;
// }

// .form-check__desrciption {
//   font-size: 16px;
//   line-height: 1.62;
//   color: #e9edfa;
// }
// .form-check__link {
//   color: #e9edfa;
//   text-decoration: underline;
//   text-underline-offset: 3px;

//   &:hover,
//   &:focus {
//     color: #df3d3a;
//   }
// }





// .form__btn {
//   padding: 22px 0;
//   width: 100%;

//   font-size: 20px;
//   line-height: 1.25;
//   text-align: center;
//   letter-spacing: 0.02em;
//   text-transform: uppercase;
// }

.form__btn {
  cursor: pointer;
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #df3d3a;
  color: rgba(255, 255, 255, 0.9);
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  vertical-align: middle;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.draw {
  transition: color 0.25s;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.9);
    background-color: #df3d3a;
    border: 2px solid #c0c0c0;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: rgba(255, 255, 255, 0.9);
    border-right-color: rgba(255, 255, 255, 0.9);
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  &:hover::after {
    border-bottom-color: rgba(255, 255, 255, 0.9);
    border-left-color: rgba(255, 255, 255, 0.9);
    transition: rgba(255, 255, 255, 0.9) border-color 0s ease-out 0.5s,
      width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }
}

.meet {
  &:hover,
  &:focus {
    color: #c0c0c0;
  }

  &::after {
    top: 0;
    left: 0;
  }

  &:hover::before {
    border-top-color: rgba(255, 255, 255, 0.9);
    border-right-color: rgba(255, 255, 255, 0.9);
  }

  &:hover::after {
    border-bottom-color: rgba(255, 255, 255, 0.9);
    border-left-color: rgba(255, 255, 255, 0.9);
    transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  }
}

// body.overflow-hidden {
//     overflow: hidden;
//   }

//   .backdrop-stores {
//     width: 100%;
//     height: 100%;
//     overflow-y: auto;
//     overflow-x: hidden;
//     display: block;
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     opacity: 1;
//     visibility: visible;
//     z-index: 100;
//     background-color: rgba(255, 255, 255, 0.2);
//     transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   .backdrop-stores.is-hidden {
//     visibility: hidden;
//     opacity: 0;
//     pointer-events: none;
//   }

//   .modal-stores {
//     min-height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: sticky;
//     width: 100%;
//   }

//   .modal-stores__body {
//     background-color: #191919;
//     max-width: 480px;
//     width: 100%;
//     padding: 30px 15px 30px 30px;
//     border-radius: 12px;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 2px 1px rgba(0, 0, 0, 0.2);
//     position: relative;
//     margin: 75px 45px;

//     @media screen and (min-width: 768px) {
//       max-width: 768px;
//     }
//   }

//   .modal-stores__close {
//     position: sticky;
//     right: 15px;
//     top: 5px;
//     height: 1px;
//     margin-left: auto;
//     cursor: pointer;
//     background-color: transparent;
//     display: flex;
//     border: 0 solid;
//   }

//   .modal-stores__desc {
//     margin: 15px 0;
//     width: 380px;
//     color: rgba(210, 210, 210, 0.512);
//     // @include font-style (400, 24px, 1.45);

//     @media screen and (min-width: 768px) {
//       width: 500px;
//     }

//     }

//     .modal-stores__icon {
//       width: 120px;
//       height: 120px;
//       fill: #df3d3a;
//       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//       &:hover,
//       &:focus {
//         fill: rgba(255, 255, 255, 0.8);
//       }

//       @media screen and (min-width: 768px) {
//         width: 180px;
//       height: 180px;
//       }
//     }

//     .modal-stores__wrapper {
//       display: flex;
//       justify-content: space-around;
//       align-items: center;
//       color: rgba(255, 255, 255, 0.8);
//       // text-align: center;
//     }

//     .modal-stores__title {
//       margin-bottom: 5px;
//     //   @include font-style (600, 30px, 1.45);
//       color: #df3d3a;
//     }

//     .modal-stores__title {
//         font-size: 30px;
//     font-weight: 600;
//     line-height: 1.45;`
//       margin-bottom: 5px;
//     //   @include font-style (600, 30px, 1.45);
//       color: #df3d3a;
//     }

//     .modal-stores__number {
//       font-family: RobotoCondensed;
//     //   @include font-style (400, 20px, 1.45);
//       margin-bottom: 20px;
//     }

//     .modal-stores__link {
//         color: #9b9b9b;
//       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//       &:hover,
//       &:focus {
//         color: #df3d3a;
//       }

//     }

//     .modal-stores__text {
//     //   @include font-style (600, 16px, 1.45);
//       margin-bottom: 5px;
//     }
