.bose {
    padding-top: 406px;
    padding-bottom: 52px;
    @media screen and (min-width:768px){
        padding-bottom: 100px;
        background-image: url(../../img/bose-ar.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 354px 297px;
        padding-top: 311px;
        background-position: bottom right;
     }
     
     @media screen and (min-width:1280px){
        padding-bottom: 170px;
        background-image: url(../../img/bose-ar.png);
        background-repeat: no-repeat;
        background-position: 80% 400px;
        background-size: 600px 456px;
        padding-top: 389px;
     }

     &__box {
      display: flex;
      flex-direction: column;
      @media screen and (min-width:768px){
         display: flex;
         flex-direction: row;
      }
      
      @media screen and (min-width:1280px){
         display: flex;
         flex-direction: row;
      }
     }

     &__title {
        color: #E7E7E7;
        font-size: 24px;
        font-weight: 600;
        line-height: 28.8px; /* 28.8px */
        letter-spacing: 0.48px;
        text-transform: uppercase;
        margin-bottom: 32px;
        @media screen and (min-width:768px){
            line-height: 36px; /* 36px */
            letter-spacing: 0.6px;
            font-size: 30px;
         }
         
         @media screen and (min-width:1280px){
            line-height: 64.8px; /* 64.8px */
            letter-spacing: 1.08px;
            font-size: 54px;
            margin-bottom: 50px;
         }
     }

     &__subtitle {
        color: #E7E7E7;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px; /* 25px */
        margin-bottom: 16px;
        @media screen and (min-width:768px){
            
         }
         
         @media screen and (min-width:1280px){
            font-size: 28px;
            line-height: 35px; /* 35px */
            margin-bottom: 20px;
         }
     }

     &__text {
        color: rgba(255, 255, 255, 0.80);
        font-size: 14px;
        font-weight: 400;
        line-height: 17.5px ; /* 17.5px */
        width: 280px;
        @media screen and (min-width:768px){
            line-height: 23.2px; /* 23.2px */
            font-size: 16px;
            width: 294px;
        }
        
        @media screen and (min-width:1280px){
            line-height: 29px; /* 29px */
            font-size: 20px;
            width: 380px;
        }
     }

     &__img {
      display: block;
      width: 100%;
      height: 253px;
      flex-shrink: 0;
      margin-top: 32px;
      @media screen and (min-width:768px){
         display: none;
     }
     
     @media screen and (min-width:1280px){
      display: none;
     }
     }
}