.faq {
  padding-top: 16px;
  padding-bottom: 52px;
  background-color: #191919;
  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 170px;
    padding-bottom: 170px;
  }

  // & .container {
  //   @media screen and (min-width: 768px) {
  //     // padding-left: 60px;
  //     // padding-right: 60px;
  //   }
  //   @media screen and (min-width: 1280px) {
  //     // padding-left: 190px;
  //     // padding-right: 190px;
  //   }
  // }

    &__title {
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #e7e7e7;
    margin-bottom: 32px;
  
    @media screen and (min-width: 767px) {
      font-size: 30px;
      line-height: 120%; /* 36px */
      letter-spacing: 0.6px;
      margin-bottom: 32px;
    }
  
    @media screen and (min-width: 1280px) {
      margin-bottom: 50px;
      font-size: 54px;
      font-weight: 600;
      line-height: 120%; /* 64.8px */
      letter-spacing: 1.08px;
    }
  }


  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    // counter-reset: section;
  }


  &__item {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    position: relative;
  }


  &__body {
    padding-top: 24px;
    padding-bottom: 14px;
  
    @media screen and (min-width: 768px) {
      padding-bottom: 27px;
    }
  }


  &__body-padding {
    padding-top: 0;
  }


  &__body-item {
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: relative;
    padding-bottom: 32px;
  
    @media screen and (max-width: 767px) {
      padding-right: 50px;
    }
    @media screen and (min-width: 768px) {
      justify-content: flex-start;
    }
  }




  &__body-item::before {
    display: block;
    align-items: center;
    margin-right: 16px;
    color: #e7e7e7;
    content: '01';
    font-style: (400, 20px, 0.7);
    font-family: 'Roboto Condensed';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 35px */


  
    @media screen and (min-width: 768px) {
      margin-right: 32px;
    }
  }

  &__body-item:nth-child(2)::before {
    content: '02';
  }


  &__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 17.5px */
    color: rgba(255, 255, 255, 0.8);
  
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 145%; /* 23.2px */
    }
  
    @media screen and (min-width: 1280px) {
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%; /* 35px */
    }
  }


  &__button {
    position: absolute;
    right: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #e7e7e7;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
  
    @media screen and (max-width: 479px) {
      margin-left: 12px;
    }
  
    @media screen and (min-width: 768px) {
      right: 16px;
    }
  
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      align-self: flex-start;
    }
  
    @media screen and (min-width: 1280px) {
      width: 42px;
      height: 42px;
    }
  }

  &__content {
    list-style: none;
    margin-top: 10px;
    padding-left: 36px;
    padding-right: 44px;
    opacity: 1;
    max-height: 100%;
    color: rgba(255, 255, 255, 0.8);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    @media screen and (min-width: 1280px) {
      padding-left: 60px;
    }
  }

  &__item.hide &__content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    list-style: none;
  }

}
