.header {
    padding-top: 29px;
    padding-bottom: 32px;
    @media screen and (min-width:768px){
        padding-top: 50px;
        padding-bottom: 51px;
     }
     
     @media screen and (min-width:1280px){
        padding-top: 64px;
        padding-bottom: 74px;
     }

     & .container {
        display: flex;
        align-items: center;
     }
    &__img {
        width: 130px;
        height: 15.236px;
        transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__img:hover {
        transform: scale(1.2);
        opacity: 0.8;
    }




&__nav {
    display: none;
    
    @media screen and (min-width:768px){
        
     }
     
     @media screen and (min-width:1280px){
        margin-left: 541px;
        display: block;
     }
}

&__list {
    display: none;
    @media screen and (min-width:768px){
        
    }
    
    @media screen and (min-width:1280px){
        display: flex;
        align-items: center;
        gap: 77px;
    }
    
}

    &__link{
        transition: color .25s cubic-bezier(.4,0,.2,1);
        display: none;
        @media screen and (min-width:768px){
          font-family: Gilroy, sans-serif;
        }
        
        @media screen and (min-width:1280px){
            color: rgba(255, 255, 255, 0.80);
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            display: block;
            // width: 159px;
            font-family: Gilroy, sans-serif;
        }
    }

    &__link:hover {
        color: #b5302d;
    }

    &__icon {
        display: block;
        margin-left: 158px;
        @media screen and (min-width:768px){
        margin-left: 526px;
        }
        
        @media screen and (min-width:1280px){
            display: none;
        }
    }
}


// ============mobile modal================

.menu {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 568px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    padding: 48px 40px;
    opacity: 1;
    background-color: #191919;
    z-index: 4;
    @media screen and (min-width:768px){
        height: 367px;
        }
        
        @media screen and (min-width:1280px){
         display: none;
        }
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }

//    .menu__wrap {
//     display: flex;
//     align-items: center;
//     align-items: baseline;
//    }

  .menu__btn {
    width: 200px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 43px;
    right: 15px;
    @media screen and (min-width:768px){
      width: 700px;
  }
  }
  
  .menu__close {
    width: 200px;
    height: 30px;
    fill: #FFFFFFCC;
    margin-left: 10px;
    position: absolute;
    top: 23px;
    right: 170px;
    @media screen and (min-width:768px){
        top: 33px;
        right: 100px; 
    }
  
  }
  .menu__btn:hover {
    .menu__close {
  fill: red;
    }
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 58px;
    @media screen and (min-width:768px){
        
        }
        
  }
  .menu__link {
    color: rgba(255, 255, 255, 0.80);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.5px; 
      @media screen and (min-width:768px){
        font-size: 16px;
        }
        
        @media screen and (min-width:1280px){
         
        }
  }
  .menu__link:hover {
    color: red;
  }
  
//   .ssw {
//     position: absolute;
//     bottom: 50px;
    
//   }
  
//   .menu__list-contact {
//     display: flex;
//     flex-direction: column;
//     gap: 32px;
  
//   margin-bottom: 64px;
//   }
//   .menu__link-contact {
    
//       font-size: 24px;
//       font-weight: 500;
//       line-height: 1.08;
//       letter-spacing: 0.48px;
      
//   }
//   .menu__item-contact:first-child > 
//   .menu__link-contact {
//     color: floralwhite;
//       font-size: 34px;
//       line-height: 1.17;
//       letter-spacing: 0.68px;
//   }
  
//   .menu__item-contact:last-child > .menu__link-contact {
//     color: violet;
//       font-size: 24px;
//       line-height: 1.17;
//       letter-spacing: 0.48px;
//   }
  
  
//   .menu__list-social {
//     display: flex;
//     flex-wrap: wrap;
//   }
  
//   .menu__link-social {
//     color: bisque;
//     font-size: 18px;
//     font-weight: 500;
//     line-height: 1.22;
//     letter-spacing: .36px;
//   }
  
  
//   .menu__item-social:not(:last-child) {
//     margin-right: 10px;
//     display: flex;
//   }
  
  
//   .menu__item-social:not(:last-child)::after {
//     content: "";
//     display: block;
//     width: 1px;
//     height: 22px;
//     background: floralwhite;
//     margin-left: 10px;
//   }