.header {
    padding-top: 64px;
    padding-bottom: 70px;

    &__img {
        width: 130px;
        height: 15.236px;
    }

&__nav {
    margin-left: 541px;
}

&__list {
    display: flex;
    align-items: center;
    gap: 77px;
}

    &__link {
        color: rgba(255, 255, 255, 0.80);
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
}