.hero {
  padding-top: 0;
  padding-bottom: 52px;
  @media screen and (min-width:768px){
      padding-bottom: 100px;
  }

  @media screen and (min-width:1280px){
      padding-bottom: 170px;
  }

  & .container {
      display: flex;
      flex-direction: column;
      @media screen and (min-width:768px){
          display: flex;
      flex-direction: row;
      }
  
      @media screen and (min-width:1280px){
          display: flex;
      }
  }

  &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 32px;
      @media screen and (min-width:768px){
        margin-bottom: 105px;
      }
  
      @media screen and (min-width:1280px){
     margin-bottom: 94px;
      }
  }

  &__text {
      width: 222px;
      color: rgba(255, 255, 255, 0.80);
      font-size: 14px;
      font-family: Gilroy, sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 17.5px;
      
@media screen and (min-width:768px){
  width: 253px;   
  font-size: 16px;      
}

@media screen and (min-width:1280px){
  font-size: 16px;
  width: 321px;
}
  }

  &__subtext {
      color: rgba(255, 255, 255, 0.80);
      font-size: 14px;
      font-family: Gilroy, sans-serif;
font-style: normal;
font-weight: 400;
line-height: 20px;
width: 93px;

@media screen and (min-width:768px){
  width: 110px;
  font-size: 16px;

}

@media screen and (min-width:1280px){
 width: 110px;
 font-size: 16px;
}
  }


  &__box {
      @media screen and (min-width:768px){
         
      }
      
      @media screen and (min-width:1280px){
         padding-left: 77px;
      }
  }

  &__title {
      color: #E7E7E7;
font-size: 34px;
font-style: normal;
font-weight: 600;
letter-spacing: 0.68px;
text-transform: uppercase;
width: 234px;
margin-bottom: 32px;
font-family: Gilroy, sans-serif;
@media screen and (min-width:768px){
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 0.84px;
  width: 289px;
margin-bottom: 40px;
}

@media screen and (min-width:1280px){
 width: 620px;
 font-size: 74px;
 line-height: 74px;
 letter-spacing: 1.48px;
 margin-bottom: 86px;
  }
}

&__button {
  padding: 19px 113px;
  background: #DF3D3A;
  background-image: linear-gradient(90deg, transparent 50%, #b5302d 50%);
    background-size: 200% 100%;
  color: rgba(255, 255, 255, 0.90);
font-size: 16px;
font-weight: 600;
line-height: normal;
letter-spacing: 0.32px;
text-transform: uppercase;
border: none;
width: 100%;
transition: background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1), background-position 2s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  @media screen and (min-width:768px){
      padding: 19px 114px;
      width: 294px;
  }
  
  @media screen and (min-width:1280px){
     padding: 22px 167px;
     letter-spacing: 0.4px;
     font-size: 20px;
     width: 400px;
  }
}

&__button:hover {
  // background-color: transparent;
  // border: 1px solid white;
  // box-shadow: 11px 10px 65px 8px rgba(240,0,0,1);
  background-color: #b5302d;
  background-position: -100% 100%;
}

&__img {
  width: 100%;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
@media screen and (min-width:768px){
  width: 370px;
height: 394px;
margin-top: 0;
}

@media screen and (min-width:1280px){
  width: 570px;
  height: 598px;
  margin-top: 0;
}
}
}












.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(210, 210, 210, .514);
  opacity: 1;
  // transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity .25s cubic-bezier(.4,0,.2,1), visibility .25s cubic-bezier(.4,0,.2,1);

 
    &__modal {
    background-color: #191919;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 1px rgba(0, 0, 0, .14), 0 2px 1px rgba(0, 0, 0, .2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
    position: relative;
    padding: 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 40%;
    left: 50%;
      width: 250px;


      @media screen and (min-width: 480px) {
        width: 350px;
        height: 450px;
        padding: 80px 40px;
      }

      @media screen and (min-width: 768px) {
        top: 50%;
        width: 450px;
        height: 470px;
        padding: 80px 40px;
      }

    
      @media screen and (min-width: 1280px) {
        top: 50%;
        width: 550px;
        height: 500px;
        padding: 50px 40px;
      }

  }

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
  }
  
  .form__field {
    resize: none;
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(255 255 255 / 0.1);
    outline: 0;
    font-size: 16px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 16px;
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 250ms #df3d3a;
    font-size: 14px;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: -3px;
      display: block;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      font-size: 14px;
      color: #df3d3a;
      font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #df3d3a, #df3d3a);
    border-image-slice: 1;
  }
  .form__field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }


  &__wrapperr {
    justify-content: center;
    margin-top: 20px;
    display: block;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    @media screen and (min-width: 480px) {
      display: flex;
      margin-top: 70px;
    }
    
    @media screen and (min-width: 768px) {
      margin-top: 80px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 14px;
      margin-top: 50px;
    }
  }


.real__checkbox {
opacity: 0;
}

.custom__checkbox {
  border: 2px solid rgba(255, 255, 255, .8);
  width: 30px;
  height: 28px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 4px;
}

.custom__checkbox::before {
  content: "";
  display: inline-block;
  width: 22.5px;
  height: 19px;
  background-image: url(../../public/tickk.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  left: 20px;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.real__checkbox:checked + .custom__checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}


  &__checked {
    color: #e9edfa;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    
    
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.71;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }

  &__links {
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-underline-offset: 3px;
    text-decoration: underline;
    transition: color 2s cubic-bezier(0.215, 0.610, 0.355, 1), margin-left 3s cubic-bezier(0.215, 0.610, 0.355, 1);
    
    @media screen and (min-width: 488px) {
      font-size: 16px;
      line-height: 1.71;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.71;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.71;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }

  &__links:hover {
    color: #df3d3a;
    margin-left: 3px;
  }

  .ds {
    display: flex;
    justify-content: center;
  }



  .form__btn {
    width: 100%;
    cursor: pointer;
    background: none;
    border: 0;
    box-sizing: border-box;
    padding: 25px 30px;  
    box-shadow: inset 0 0 0 2px #df3d3a;
    color: rgba(255, 255, 255, 0.9);
    font-size: inherit;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-top: 70px;
    transition: color 2s cubic-bezier(0.39, 0.575, 0.565, 1);
  
    &::before,
    &::after {
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  
  .draw {
    transition: color 0.25s;
  
    &::before,
    &::after {
      // border: 2px solid transparent;
      width: 0;
      height: 0;
    }
  
    &::before {
      top: 0;
      left: 0;
    }
  
    &::after {
      bottom: 0;
      right: 0;
    }
  
    &:hover,
    &:focus {
      background-color: transparent;
      color: #df3d3a;
      // border: 2px solid #c0c0c0;
    }
  
    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
    }
  
    &:hover::before {
      border-top-color: rgba(255, 255, 255, 0.9);
      border-right-color: rgba(255, 255, 255, 0.9);
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }
  
    &:hover::after {
      border-bottom-color: rgba(255, 255, 255, 0.9);
      border-left-color: rgba(255, 255, 255, 0.9);
      transition: rgba(255, 255, 255, 0.9) border-color 0s ease-out 0.5s,
        width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    }
  }
  

  // &__button {
  //   padding: 25px 30px;
  //   width: 100%;
  //   font-size: 20px;
  //   margin-top: 70px;
  //   cursor: pointer;
  // color: #B5302D;
  // vertical-align: middle;
  // background-color: transparent;
  // font-weight: 700;
  // border: 2px solid #df3d3a;
  // text-transform: uppercase;
  // transition: color 2s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 2s cubic-bezier(0.175, 0.885, 0.32, 1.275), border 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);


  //   &:hover,
  //   &:focus {
  //     color: rgba(255, 255, 255, 0.90);
  //     background-color: #df3d3a;
  //     border: 2px solid #C0C0C0;
  //   }
  // }

 
  &__closee {
    position: absolute;
    top: 10px;
    
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
      
      border: none;

      .backdrop__close {
        transform: rotate(180deg);
        fill: #df3d3a;
        
      } 
   
    }
  }

  &__close {
      transition: transform 0.4s ease;
      width: 30px;
      height: 30px;
      fill: white;
    }
}