body {
    font-family: "Roboto", serif;
    background-color: #191919;
}

// .cursor {
//     position: absolute;
//     width: 1rem;
//     height: 1rem;
//     border-radius: 50%;
//     background-color: rgba(210, 210, 210, 0.512);
//     animation: move 6s infinite alternate;
//     display: none;

//     @media screen  and (min-width: 1200px){
//         display: block;
//     }
// }
  
  
// @keyframes move {
//     0% {
//       box-shadow: 0 0 10px 2px rgba(210, 210, 210, 0.512);
//     }
//     100% {
//       box-shadow: 0 0 20px 8px rgba(210, 210, 210, 0.512);
//     }
// }



.arrow__up {
    position: fixed;
    bottom: 30px;
    right: 10px;
    display: none;
    // opacity: ;
    // visibility: hidden;

    @media screen and (min-width: 1280px) {
        display: block;
      }
    
    @media screen and (min-width: 768px) {
        #buttons {
            bottom: 30px;
            right: 30px;
            width: 50px;
            height: 50px;
            font-size: 40px;
        }
    }
    
    
}

.arrow__up .arrow__hoh{
    width: 50px;
    height: 50px;
    background-color: rgba(210, 210, 210, 0.512);
    text-align: center;
    display: block;
    justify-content: center;
    line-height: 50px;
    border-radius: 30%;
    border: 3px solid #E7E7E7;
}

  

  
.arrow__up .arrow__hoh:hover {
    background-color: rgba(210, 210, 210, 0.512);
    color: white;
    transition: all .5s;
}

