img {
  display: block;
}

a {
  text-decoration: none;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, body {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  outline: 2px solid gray;
}
@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body {
  font-family: "Roboto", serif;
  background-color: #191919;
}

.header {
  padding-top: 64px;
  padding-bottom: 70px;
}
.header__img {
  width: 130px;
  height: 15.236px;
}
.header__nav {
  margin-left: 541px;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 77px;
}
.header__link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.hero {
  padding-top: 0;
  padding-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 170px;
  }
}
.hero .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero .container {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .hero .container {
    display: flex;
    flex-direction: row;
  }
}
.hero__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .hero__list {
    margin-bottom: 105px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__list {
    margin-bottom: 94px;
  }
}
.hero__text {
  width: 222px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.5px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    width: 253px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 16px;
    width: 321px;
  }
}
.hero__subtext {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 93px;
}
@media screen and (min-width: 768px) {
  .hero__subtext {
    width: 110px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtext {
    width: 110px;
    font-size: 16px;
  }
}
.hero__title {
  color: #E7E7E7;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 34px */
  letter-spacing: 0.68px;
  text-transform: uppercase;
  width: 234px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.84px;
    width: 289px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 674px;
    font-size: 74px;
    line-height: 74px;
    letter-spacing: 1.48px;
    margin-bottom: 86px;
  }
}
.hero__button {
  padding: 19px 113px;
  background: #DF3D3A;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  border: none;
}
@media screen and (min-width: 768px) {
  .hero__button {
    padding: 19px 114px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__button {
    padding: 22px 167px;
    letter-spacing: 0.4px;
    font-size: 20px;
  }
}

.premium {
  padding-top: 0;
  padding-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .premium {
    padding-bottom: 128px;
  }
}
@media screen and (min-width: 1280px) {
  .premium {
    padding-bottom: 170px;
  }
}
.premium__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px; /* 28.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 206px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .premium__title {
    font-size: 30px;
    letter-spacing: 0.6px;
    line-height: 36px; /* 36px */
    width: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .premium__title {
    font-size: 54px;
    line-height: 64.8px; /* 64.8px */
    letter-spacing: 1.08px;
    width: 464px;
    margin-bottom: 50px;
  }
}
.premium__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1280px) {
  .premium__list {
    gap: 24px;
  }
}
.premium__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 25px */
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .premium__subtitle {
    font-size: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .premium__subtitle {
    margin-bottom: 20px;
    font-size: 28px;
  }
}
.premium__text {
  width: 280px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
}
@media screen and (min-width: 768px) {
  .premium__text {
    line-height: 145%; /* 23.2px */
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .premium__text {
    line-height: 145%; /* 29px */
    font-size: 20px;
  }
}

.capable {
  padding-top: 0;
  padding-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .capable {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .capable {
    padding-bottom: 170px;
  }
}
.capable__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .capable__title {
    letter-spacing: 0.6px;
    line-height: 120%; /* 36px */
    font-size: 30px;
    width: 412px;
  }
}
@media screen and (min-width: 1280px) {
  .capable__title {
    line-height: 120%; /* 64.8px */
    font-size: 54px;
    letter-spacing: 1.08px;
    width: 585px;
    margin-bottom: 50px;
  }
}
.capable__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .capable__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .capable__list {
    flex-direction: row;
  }
}
.capable__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.capable__wrapper:nth-child(1) {
  margin-right: 220px;
}
.capable__box {
  display: flex;
  align-items: center;
  gap: 24px;
}
.capable__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
}
@media screen and (min-width: 768px) {
  .capable__text {
    line-height: 145%; /* 23.2px */
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .capable__text {
    line-height: 145%; /* 29px */
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */