img {
  display: block;
}

a {
  text-decoration: none;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, body {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  outline: 2px solid gray;
}
@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body {
  font-family: "Roboto", serif;
  background-color: #191919;
}

.header {
  padding-top: 29px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 50px;
    padding-bottom: 51px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 64px;
    padding-bottom: 74px;
  }
}
.header .container {
  display: flex;
  align-items: center;
}
.header__img {
  width: 130px;
  height: 15.236px;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__nav {
    margin-left: 541px;
    display: block;
  }
}
.header__list {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__list {
    display: flex;
    align-items: center;
    gap: 77px;
  }
}
.header__link {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    display: block;
  }
}

.hero {
  padding-top: 0;
  padding-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 170px;
  }
}
.hero .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero .container {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .hero .container {
    display: flex;
  }
}
.hero__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .hero__list {
    margin-bottom: 105px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__list {
    margin-bottom: 94px;
  }
}
.hero__text {
  width: 222px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.5px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    width: 253px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 16px;
    width: 321px;
  }
}
.hero__subtext {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 93px;
}
@media screen and (min-width: 768px) {
  .hero__subtext {
    width: 110px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtext {
    width: 110px;
    font-size: 16px;
  }
}
.hero__title {
  color: #E7E7E7;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.68px;
  text-transform: uppercase;
  width: 234px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.84px;
    width: 289px;
    margin-bottom: 40px;
    margin-right: 65px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 620px;
    font-size: 74px;
    line-height: 74px;
    letter-spacing: 1.48px;
    margin-bottom: 86px;
  }
}
.hero__button {
  padding: 19px 113px;
  background: #DF3D3A;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  border: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero__button {
    padding: 19px 114px;
    width: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__button {
    padding: 22px 167px;
    letter-spacing: 0.4px;
    font-size: 20px;
    width: 400px;
  }
}
.hero__img {
  width: 280px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .hero__img {
    width: 354px;
    height: 394px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__img {
    width: 630px;
    height: 598px;
    margin-top: 0;
  }
}

.premium {
  padding-top: 0;
  padding-bottom: 52px;
  background-image: url(../../img/vomen-main.png);
  background-repeat: no-repeat;
  background-size: 280px 293px;
  background-position: bottom;
}
@media screen and (min-width: 768px) {
  .premium {
    padding-bottom: 128px;
    background-size: 354px 482px;
    background-position: top left;
  }
}
@media screen and (min-width: 1280px) {
  .premium {
    padding-bottom: 170px;
    background-size: 590px 700px;
    background-position: top left;
  }
}
.premium .container {
  position: relative;
}
@media screen and (min-width: 1280px) {
  .premium .container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .premium__wrapper {
    display: flex;
    justify-content: end;
  }
}
.premium__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px; /* 28.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 206px;
  margin-bottom: 32px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .premium__title {
    font-size: 30px;
    letter-spacing: 0.6px;
    line-height: 36px; /* 36px */
    width: 294px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .premium__title {
    font-size: 54px;
    line-height: 64.8px; /* 64.8px */
    letter-spacing: 1.08px;
    width: 464px;
    margin-bottom: 50px;
    margin-right: 46px;
  }
}
.premium__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .premium__list {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .premium__list {
    gap: 24px;
    margin-left: 150px;
  }
}
.premium__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 25px */
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .premium__subtitle {
    font-size: 28px;
    text-align: end;
  }
}
@media screen and (min-width: 1280px) {
  .premium__subtitle {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: end;
    margin-right: 165px;
  }
}
.premium__subtittle {
  color: #E7E7E7;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 25px */
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .premium__subtittle {
    font-size: 28px;
    text-align: end;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .premium__subtittle {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: end;
    margin-right: 200px;
  }
}
.premium__box {
  display: flex;
  justify-content: start;
}
@media screen and (min-width: 768px) {
  .premium__box {
    justify-content: end;
  }
}
.premium__text {
  width: 280px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
}
@media screen and (min-width: 768px) {
  .premium__text {
    line-height: 145%; /* 23.2px */
    font-size: 16px;
    margin-right: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .premium__text {
    line-height: 145%; /* 29px */
    font-size: 20px;
    margin-right: 223px;
  }
}

.capable {
  padding-top: 0;
  padding-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .capable {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .capable {
    padding-bottom: 170px;
  }
}
.capable__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
  width: 259px;
}
@media screen and (min-width: 768px) {
  .capable__title {
    letter-spacing: 0.6px;
    line-height: 120%; /* 36px */
    font-size: 30px;
    width: 412px;
  }
}
@media screen and (min-width: 1280px) {
  .capable__title {
    line-height: 120%; /* 64.8px */
    font-size: 54px;
    letter-spacing: 1.08px;
    width: 585px;
    margin-bottom: 50px;
  }
}
.capable__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .capable__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .capable__list {
    flex-direction: row;
  }
}
.capable__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.capable__wrapper:nth-child(1) {
  margin-right: 0;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .capable__wrapper:nth-child(1) {
    margin-bottom: 16px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .capable__wrapper:nth-child(1) {
    margin-right: 220px;
  }
}
.capable__box {
  display: flex;
  align-items: center;
  gap: 24px;
}
.capable__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
}
@media screen and (min-width: 768px) {
  .capable__text {
    line-height: 145%; /* 23.2px */
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .capable__text {
    line-height: 145%; /* 29px */
    font-size: 20px;
  }
}

.luxury {
  padding-top: 0;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .luxury {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .luxury {
    padding-bottom: 170px;
  }
}
.luxury .container {
  display: flex;
  flex-direction: column;
}
.luxury__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px; /* 28.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 278px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .luxury__title {
    line-height: 36px; /* 36px */
    letter-spacing: 0.6px;
    font-size: 30px;
    width: 347px;
  }
}
@media screen and (min-width: 1280px) {
  .luxury__title {
    line-height: 64.8px; /* 64.8px */
    letter-spacing: 1.08px;
    font-size: 54px;
    width: 644px;
    margin-bottom: 50px;
  }
}
.luxury__box {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .luxury__box {
    display: flex;
    justify-content: center;
  }
}
.luxury__img {
  width: 360px;
  height: 293px;
}
@media screen and (min-width: 768px) {
  .luxury__img {
    width: 768px;
    height: 293px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1280px) {
  .luxury__img {
    width: 1280px;
    height: 524px;
    flex-shrink: 0;
  }
}
.luxury__list {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
}
@media screen and (min-width: 768px) {
  .luxury__list {
    flex-direction: row;
    -moz-column-gap: 60px;
         column-gap: 60px;
    row-gap: 0;
  }
}
@media screen and (min-width: 1280px) {
  .luxury__list {
    flex-direction: row;
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 0;
  }
}
.luxury__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px; /* 25px */
  margin-top: 32px;
}
@media screen and (min-width: 1280px) {
  .luxury__subtitle {
    font-size: 28px;
    line-height: 35px; /* 35px */
    margin-top: 50px;
  }
}
.luxury__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px; /* 17.5px */
  width: 280px;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .luxury__text {
    line-height: 23.2px; /* 23.2px */
    font-size: 16px;
    width: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .luxury__text {
    font-size: 20px;
    line-height: 29px; /* 29px */
    width: 510px;
  }
}

.bose {
  padding-top: 0;
  padding-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .bose {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .bose {
    padding-bottom: 170px;
  }
}
.bose__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .bose__box {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .bose__box {
    display: flex;
    flex-direction: row;
  }
}
.bose__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px; /* 28.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .bose__title {
    line-height: 36px; /* 36px */
    letter-spacing: 0.6px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .bose__title {
    line-height: 64.8px; /* 64.8px */
    letter-spacing: 1.08px;
    font-size: 54px;
    margin-bottom: 50px;
  }
}
.bose__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px; /* 25px */
  margin-bottom: 16px;
}
@media screen and (min-width: 1280px) {
  .bose__subtitle {
    font-size: 28px;
    line-height: 35px; /* 35px */
    margin-bottom: 20px;
  }
}
.bose__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px; /* 17.5px */
  width: 280px;
}
@media screen and (min-width: 768px) {
  .bose__text {
    line-height: 23.2px; /* 23.2px */
    font-size: 16px;
    width: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .bose__text {
    line-height: 29px; /* 29px */
    font-size: 20px;
    width: 380px;
  }
}
.bose__img {
  width: 100%;
  height: 253px;
  flex-shrink: 0;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .bose__img {
    width: 354px;
    height: 297px;
    flex-shrink: 0;
    margin-left: 60px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .bose__img {
    width: 700px;
    height: 586px;
    flex-shrink: 0;
    margin-left: 170px;
    margin-top: 0;
  }
}/*# sourceMappingURL=main.css.map */