@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(255, 62, 62);
}

::-moz-selection {
  background-color: gray;
  color: #fff;
}

::selection {
  background-color: gray;
  color: #fff;
}

img {
  display: block;
}

a {
  text-decoration: none;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, body {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body {
  font-family: "Roboto", serif;
  background-color: #191919;
}

.cursor {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(210, 210, 210, 0.512);
  animation: move 6s infinite alternate;
  display: none;
}
@media screen and (min-width: 1200px) {
  .cursor {
    display: block;
  }
}

@keyframes move {
  0% {
    box-shadow: 0 0 10px 2px rgba(210, 210, 210, 0.512);
  }
  100% {
    box-shadow: 0 0 20px 8px rgba(210, 210, 210, 0.512);
  }
}
.arrow__up {
  position: fixed;
  bottom: 30px;
  right: 10px;
  display: none;
}
@media screen and (min-width: 1280px) {
  .arrow__up {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .arrow__up #buttons {
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    font-size: 40px;
  }
}

.arrow__up .arrow__hoh {
  width: 50px;
  height: 50px;
  background-color: rgba(210, 210, 210, 0.512);
  text-align: center;
  display: block;
  justify-content: center;
  line-height: 50px;
  border-radius: 30%;
  border: 3px solid #E7E7E7;
}

.arrow__up .arrow__hoh:hover {
  background-color: rgba(210, 210, 210, 0.512);
  color: white;
  transition: all 0.5s;
}

.header {
  padding-top: 29px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 50px;
    padding-bottom: 51px;
  }
}
.header #buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e17992;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  z-index: 10;
  transform: rotate(1turn);
  font-size: 28px;
  color: #fff;
  line-height: 50px;
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 64px;
    padding-bottom: 74px;
  }
}
.header .container {
  display: flex;
  align-items: center;
}
.header__img {
  width: 130px;
  height: 15.236px;
  transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header__img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__nav {
    margin-left: 541px;
    display: block;
  }
}
.header__list {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__list {
    display: flex;
    align-items: center;
    gap: 77px;
  }
}
.header__link {
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}
@media screen and (min-width: 768px) {
  .header__link {
    font-family: Gilroy, sans-serif;
  }
}
@media screen and (min-width: 1280px) {
  .header__link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    display: block;
    font-family: Gilroy, sans-serif;
  }
}
.header__link:hover {
  color: #b5302d;
}
.header__icon {
  display: block;
  margin-left: 158px;
}
@media screen and (min-width: 768px) {
  .header__icon {
    margin-left: 526px;
  }
}
@media screen and (min-width: 1280px) {
  .header__icon {
    display: none;
  }
}

.menu {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 568px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding: 48px 40px;
  opacity: 1;
  background-color: #191919;
  z-index: 4;
}
@media screen and (min-width: 768px) {
  .menu {
    height: 367px;
  }
}
@media screen and (min-width: 1280px) {
  .menu {
    display: none;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.menu__btn {
  width: 200px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 43px;
  right: 15px;
}
@media screen and (min-width: 768px) {
  .menu__btn {
    width: 700px;
  }
}

.menu__close {
  width: 200px;
  height: 30px;
  fill: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
  position: absolute;
  top: 23px;
  right: 170px;
}
@media screen and (min-width: 768px) {
  .menu__close {
    top: 33px;
    right: 100px;
  }
}

.menu__btn:hover .menu__close {
  fill: red;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 58px;
}
.menu__link {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.5px;
}
@media screen and (min-width: 768px) {
  .menu__link {
    font-size: 16px;
  }
}
.menu__link:hover {
  color: red;
}

.hero {
  padding-top: 0;
  padding-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 170px;
  }
}
.hero .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero .container {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .hero .container {
    display: flex;
  }
}
.hero__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .hero__list {
    margin-bottom: 105px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__list {
    margin-bottom: 94px;
  }
}
.hero__text {
  width: 222px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 17.5px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    width: 253px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 16px;
    width: 321px;
  }
}
.hero__subtext {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 93px;
}
@media screen and (min-width: 768px) {
  .hero__subtext {
    width: 110px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtext {
    width: 110px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__box {
    padding-left: 77px;
  }
}
.hero__title {
  color: #E7E7E7;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.68px;
  text-transform: uppercase;
  width: 234px;
  margin-bottom: 32px;
  font-family: Gilroy, sans-serif;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.84px;
    width: 289px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 620px;
    font-size: 74px;
    line-height: 74px;
    letter-spacing: 1.48px;
    margin-bottom: 86px;
  }
}
.hero__button {
  padding: 19px 113px;
  background: #DF3D3A;
  background-image: linear-gradient(90deg, transparent 50%, #b5302d 50%);
  background-size: 200% 100%;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  transition: background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1), background-position 2s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (min-width: 768px) {
  .hero__button {
    padding: 19px 114px;
    width: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__button {
    padding: 22px 167px;
    letter-spacing: 0.4px;
    font-size: 20px;
    width: 400px;
  }
}
.hero__button:hover {
  background-color: #b5302d;
  background-position: -100% 100%;
}
.hero__img {
  width: 100%;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .hero__img {
    width: 370px;
    height: 394px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__img {
    width: 570px;
    height: 598px;
    margin-top: 0;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(210, 210, 210, 0.514);
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__modal {
  background-color: #191919;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
  position: relative;
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
}
@media screen and (min-width: 480px) {
  .backdrop__modal {
    width: 450px;
    height: 500px;
    padding: 80px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .backdrop__modal {
    width: 550px;
    height: 600px;
  }
}
.backdrop__label {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.12px;
  display: block;
  margin-bottom: 4px;
}
.backdrop__input {
  position: relative;
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 10px;
  resize: none;
  color: #fff;
  background: 0 0;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  outline: 0;
  width: 100%;
  padding: 7px 0;
  font-size: 16px;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__input:hover, .backdrop__input:focus {
  border-bottom: 2px solid red;
}
.backdrop__input:focus, .backdrop__input:valid {
  color: red;
}
.backdrop__icon {
  position: absolute;
  fill: forestgreen;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__comment {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.12px;
  display: block;
  margin-bottom: 4px;
}
.backdrop__text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  color: #fff;
  background: 0 0;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  outline: 0;
  width: 100%;
  padding: 7px 0;
  font-size: 16px;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 60px;
}
.backdrop__text:hover, .backdrop__text:focus {
  border-bottom: 2px solid red; /* Красный бордер */
}
.backdrop__text:focus, .backdrop__text:valid {
  color: red;
}
.backdrop__wrapperr {
  justify-content: center;
  margin-top: 20px;
  display: block;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .backdrop__wrapperr {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__wrapperr {
    font-size: 14px;
  }
}
.backdrop .real__checkbox {
  opacity: 0;
}
.backdrop .custom__checkbox {
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: 30px;
  height: 28px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 4px;
}
.backdrop .custom__checkbox::before {
  content: "";
  display: inline-block;
  width: 22.5px;
  height: 19px;
  background-image: url(../../public/tickk.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  left: 20px;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.backdrop .realcheckbox:checked + .customcheckbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.backdrop__checked {
  color: #e9edfa;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
@media screen and (min-width: 1280px) {
  .backdrop__checked {
    font-size: 16px;
    line-height: 1.71;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
}
.backdrop__links {
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
@media screen and (min-width: 1280px) {
  .backdrop__links {
    font-size: 16px;
    line-height: 1.71;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
}
.backdrop .ds {
  display: flex;
  justify-content: center;
}
.backdrop__button {
  padding: 25px 30px;
  width: 100%;
  font-size: 20px;
  margin-top: 70px;
  cursor: pointer;
  color: #B5302D;
  vertical-align: middle;
  background-color: transparent;
  font-weight: 700;
  border: 2px solid #df3d3a;
  text-transform: uppercase;
  transition: color 2s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 2s cubic-bezier(0.175, 0.885, 0.32, 1.275), border 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.backdrop__button:hover, .backdrop__button:focus {
  color: rgba(255, 255, 255, 0.9);
  background-color: #df3d3a;
  border: 2px solid #C0C0C0;
}
.backdrop__closee {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__closee:hover, .backdrop__closee:focus {
  border: none;
}
.backdrop__closee:hover .backdrop__close, .backdrop__closee:focus .backdrop__close {
  transform: rotate(180deg);
  fill: white;
}
.backdrop__close {
  transition: transform 0.4s ease;
  width: 30px;
  height: 30px;
  fill: #df3d3a;
}

.premium {
  padding-top: 0;
  padding-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .premium {
    padding-bottom: 128px;
    background-size: 364px 482px;
    background-image: url(../img/vomen-main.png);
    background-position: 30% -50px;
    background-position: top left;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  .premium {
    padding-bottom: 170px;
    background-size: 590px 616px;
    background-image: url(../img/vomen-main.png);
    background-position: 5% -50px;
    background-repeat: no-repeat;
  }
}
.premium .container {
  position: relative;
}
@media screen and (min-width: 1280px) {
  .premium .container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .premium__position {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .premium__wrapper {
    display: flex;
    justify-content: end;
  }
}
.premium__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px; /* 28.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 221px;
  margin-bottom: 32px;
  font-family: Gilroy, sans-serif;
}
@media screen and (min-width: 768px) {
  .premium__title {
    font-size: 30px;
    letter-spacing: 0.6px;
    line-height: 36px; /* 36px */
    width: 294px;
    padding-right: 70px;
  }
}
@media screen and (min-width: 1280px) {
  .premium__title {
    font-size: 54px;
    line-height: 64.8px; /* 64.8px */
    letter-spacing: 1.08px;
    width: 493px;
    margin-bottom: 50px;
    padding-right: 90px;
  }
}
.premium__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .premium__list {
    display: flex;
    justify-content: end;
  }
}
@media screen and (min-width: 1280px) {
  .premium__list {
    gap: 40px;
    justify-content: flex-end;
  }
}
.premium__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 25px */
  margin-bottom: 16px;
  font-family: Gilroy, sans-serif;
}
@media screen and (min-width: 768px) {
  .premium__subtitle {
    font-size: 28px;
    text-align: end;
    padding-right: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .premium__subtitle {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: end;
    padding-right: 210px;
  }
}
.premium__subtittle {
  color: #E7E7E7;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 25px */
  margin-bottom: 16px;
  font-family: Gilroy, sans-serif;
}
@media screen and (min-width: 768px) {
  .premium__subtittle {
    font-size: 28px;
    text-align: end;
    padding-right: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .premium__subtittle {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: end;
    padding-right: 252px;
  }
}
.premium__box {
  display: flex;
  justify-content: start;
}
@media screen and (min-width: 768px) {
  .premium__box {
    justify-content: end;
  }
}
@media screen and (min-width: 1280px) {
  .premium__box {
    justify-content: end;
  }
}
.premium__text {
  width: 280px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
}
@media screen and (min-width: 768px) {
  .premium__text {
    line-height: 145%; /* 23.2px */
    font-size: 16px;
    padding-right: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .premium__text {
    line-height: 145%; /* 29px */
    font-size: 20px;
    width: 510px;
    padding-right: 60px;
  }
}
.premium__img {
  display: block;
  width: 100%;
  height: 293px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .premium__img {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .premium__img {
    display: none;
  }
}

.capable {
  padding-top: 0;
  padding-bottom: 120px;
}
@media screen and (min-width: 768px) {
  .capable {
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .capable {
    padding-bottom: 250px;
  }
}
@media screen and (min-width: 1280px) {
  .capable .container {
    padding-left: 150px;
  }
}
.capable__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
  width: 259px;
}
@media screen and (min-width: 768px) {
  .capable__title {
    letter-spacing: 0.6px;
    line-height: 120%; /* 36px */
    font-size: 30px;
    width: 412px;
  }
}
@media screen and (min-width: 1280px) {
  .capable__title {
    line-height: 120%; /* 64.8px */
    font-size: 54px;
    letter-spacing: 1.08px;
    width: 585px;
    margin-bottom: 50px;
  }
}
.capable__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .capable__list {
    flex-direction: column;
    row-gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .capable__list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .capable__item {
    flex-basis: 50%;
  }
}
.capable__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.capable__wrapper:nth-child(1) {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .capable__wrapper:nth-child(1) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .capable__wrapper:nth-child(1) {
    row-gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .capable__wrapper:nth-child(1) {
    margin-right: 240px;
  }
}
.capable__box {
  display: flex;
  align-items: center;
  gap: 24px;
}
.capable__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
}
@media screen and (min-width: 768px) {
  .capable__text {
    line-height: 145%; /* 23.2px */
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .capable__text {
    line-height: 145%; /* 29px */
    font-size: 20px;
  }
}

.luxury {
  padding-top: 0;
  padding-bottom: 70px;
  background-image: url(../img/luxury-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 524px;
}
@media screen and (min-width: 768px) {
  .luxury {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .luxury {
    padding-bottom: 170px;
    text-align: end;
    padding-top: 20px;
    background-size: 100% 700px;
  }
}
.luxury .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .luxury__boxing {
    display: flex;
    justify-content: flex-end;
  }
}
.luxury__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px; /* 28.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  text-align: center;
  transform: translateY(-55px);
}
@media screen and (min-width: 768px) {
  .luxury__title {
    line-height: 36px; /* 36px */
    letter-spacing: 0.6px;
    font-size: 30px;
    text-align: end;
    transform: translateY(-70px);
  }
}
@media screen and (min-width: 1280px) {
  .luxury__title {
    line-height: 64.8px; /* 64.8px */
    letter-spacing: 1.08px;
    font-size: 54px;
    transform: translateY(-130px);
  }
}
.luxury__box {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .luxury__box {
    display: flex;
    justify-content: center;
  }
}
.luxury__img {
  width: 100%;
  height: 293px;
}
@media screen and (min-width: 768px) {
  .luxury__img {
    width: 768px;
    height: 293px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1280px) {
  .luxury__img {
    width: 1280px;
    height: 524px;
    flex-shrink: 0;
  }
}
.luxury__list {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  transform: translateY(130%);
  text-align: start;
}
@media screen and (min-width: 768px) {
  .luxury__list {
    flex-direction: row;
    -moz-column-gap: 60px;
         column-gap: 60px;
    row-gap: 0;
    transform: translate(10%, 180%);
  }
}
@media screen and (min-width: 1280px) {
  .luxury__list {
    flex-direction: row;
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 0;
  }
}
.luxury__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px; /* 25px */
}
@media screen and (min-width: 1280px) {
  .luxury__subtitle {
    font-size: 28px;
    line-height: 35px; /* 35px */
    margin-top: 50px;
  }
}
.luxury__subtittle {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px; /* 25px */
}
@media screen and (min-width: 1280px) {
  .luxury__subtittle {
    font-size: 28px;
    line-height: 35px; /* 35px */
    margin-top: 50px;
  }
}
.luxury__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px; /* 17.5px */
  width: 280px;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .luxury__text {
    line-height: 23.2px; /* 23.2px */
    font-size: 16px;
    width: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .luxury__text {
    font-size: 20px;
    line-height: 29px; /* 29px */
    width: 510px;
  }
}

.bose {
  padding-top: 406px;
  padding-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .bose {
    padding-bottom: 100px;
    background-image: url(../img/bose-ar.png);
    background-repeat: no-repeat;
    background-size: 354px 347px;
    padding-top: 311px;
    background-position: bottom right;
  }
}
@media screen and (min-width: 1280px) {
  .bose {
    padding-bottom: 170px;
    background-image: url(../img/bose-ar.png);
    background-repeat: no-repeat;
    background-position: 80% 400px;
    background-size: 600px 456px;
    padding-top: 389px;
  }
}
.bose__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .bose__box {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .bose__box {
    display: flex;
    flex-direction: row;
  }
}
.bose__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px; /* 28.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .bose__title {
    line-height: 36px; /* 36px */
    letter-spacing: 0.6px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .bose__title {
    line-height: 64.8px; /* 64.8px */
    letter-spacing: 1.08px;
    font-size: 54px;
    margin-bottom: 50px;
  }
}
.bose__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px; /* 25px */
  margin-bottom: 16px;
}
@media screen and (min-width: 1280px) {
  .bose__subtitle {
    font-size: 28px;
    line-height: 35px; /* 35px */
    margin-bottom: 20px;
  }
}
.bose__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px; /* 17.5px */
  width: 280px;
}
@media screen and (min-width: 768px) {
  .bose__text {
    line-height: 23.2px; /* 23.2px */
    font-size: 16px;
    width: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .bose__text {
    line-height: 29px; /* 29px */
    font-size: 20px;
    width: 380px;
  }
}
.bose__img {
  display: block;
  width: 100%;
  height: 253px;
  flex-shrink: 0;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .bose__img {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .bose__img {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .guarantes {
    background-image: url(../img/linia.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
@media screen and (min-width: 768px) {
  .guarantes__boxx {
    display: flex;
  }
}
.guarantes__img {
  width: 590px;
  height: 565px;
  display: none;
}
@media screen and (max-width: 1279px) {
  .guarantes__img {
    width: 354px;
    height: 442px;
  }
}
@media screen and (min-width: 768px) {
  .guarantes__img {
    display: block;
  }
}
.guarantes__div {
  margin-left: 150px;
}
@media screen and (max-width: 1279px) {
  .guarantes__div {
    margin-left: 60px;
  }
}
@media screen and (max-width: 767px) {
  .guarantes__div {
    margin-left: 0px;
  }
}
.guarantes__title {
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .guarantes__title {
    font-size: 30px;
    letter-spacing: 0.6px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .guarantes__title {
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.guarantes__svg {
  fill: red;
  width: 13px;
  height: 13px;
  margin-bottom: 24px;
}
.guarantes__title-mini {
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media screen and (max-width: 1279px) {
  .guarantes__title-mini {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .guarantes__title-mini {
    width: 150px;
    margin-bottom: 16px;
  }
}
.guarantes__text {
  width: 400px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width: 1279px) {
  .guarantes__text {
    font-size: 16px;
    width: 294px;
  }
}
@media screen and (max-width: 1279px) and (max-width: 767px) {
  .guarantes__text {
    width: 294px;
    margin-bottom: 32px;
  }
}
.guarantes__textt {
  margin-bottom: 69px;
  width: 400px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width: 1279px) {
  .guarantes__textt {
    font-size: 16px;
    width: 280px;
  }
}
@media screen and (max-width: 767px) {
  .guarantes__textt {
    margin-bottom: 24px;
  }
}
.guarantes__img-telephone {
  width: 280px;
  height: 268px;
  display: block;
}
@media screen and (min-width: 768px) {
  .guarantes__img-telephone {
    display: none;
  }
}

.brand {
  position: relative;
  padding-top: 100px;
}
@media screen and (min-width: 768px) {
  .brand__img-div {
    display: flex;
    gap: 60px;
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .brand__img-div {
    display: flex;
    gap: 320px;
    margin-bottom: 90px;
  }
}
.brand__title {
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 70px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .brand__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1280px) {
  .brand__title {
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.brand__text {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 85px;
  display: none;
}
@media screen and (min-width: 768px) {
  .brand__text {
    display: block;
    width: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .brand__text {
    font-size: 20px;
  }
}
.brand__text:last-child {
  display: block;
}
@media screen and (min-width: 768px) {
  .brand__text:last-child {
    display: none;
  }
}
.brand__text-tablet {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 32px;
  width: 294px;
  display: none;
}
@media screen and (min-width: 768px) {
  .brand__text-tablet {
    font-size: 16px;
    width: 294px;
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .brand__text-tablet {
    font-size: 20px;
  }
}
.brand__img {
  width: 280px;
  height: 251px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .brand__img {
    width: 354px;
    height: 524px;
  }
}
@media screen and (min-width: 1280px) {
  .brand__img {
    width: 700px;
    height: 628px;
  }
}
.brand__text-tel {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  width: 280px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .brand__text-tel {
    display: none;
  }
}
.brand__frustration {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 32px;
  width: 294px;
}
@media screen and (min-width: 768px) {
  .brand__frustration {
    position: absolute;
    top: 810px;
    right: 170px;
  }
}
@media screen and (min-width: 1280px) {
  .brand__frustration {
    font-size: 20px;
    width: 510px;
    right: 160px;
  }
}
@media screen and (min-width: 1880px) {
  .brand__frustration {
    font-size: 20px;
    width: 510px;
    right: 460px;
  }
}
.brand__newer-img {
  width: 280px;
  height: 343px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .brand__newer-img {
    width: 294px;
    height: 355px;
  }
}
.brand__div-tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .brand__div-tablet {
    display: block;
    position: absolute;
    right: 190px;
    bottom: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .brand__div-tablet {
    display: block;
    position: absolute;
    right: 290px;
    bottom: 0px;
  }
}
@media screen and (min-width: 1880px) {
  .brand__div-tablet {
    font-size: 20px;
    width: 510px;
    right: 460px;
  }
}
.brand__svg {
  fill: #DF3D3A;
  width: 34px;
  height: 25px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .brand__svg {
    margin-bottom: 52px;
  }
}
.brand__title-mini {
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .brand__title-mini {
    width: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .brand__title-mini {
    width: 382px;
    font-size: 28px;
  }
}
.brand__text-mini {
  color: rgba(255, 255, 255, 0.4);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.reviews {
  padding-top: 170px;
}
@media screen and (max-width: 1279px) {
  .reviews {
    padding-top: 168px;
  }
}
@media screen and (max-width: 767px) {
  .reviews {
    padding-top: 55px;
  }
}
.reviews__box {
  display: flex;
  gap: 150px;
}
@media screen and (max-width: 1279px) {
  .reviews__box {
    display: block;
    position: relative;
  }
}
.reviews__img {
  width: 920px;
  height: 590px;
}
@media screen and (max-width: 1279px) {
  .reviews__img {
    margin-bottom: 32px;
    width: 648px;
    height: 417px;
  }
}
@media screen and (max-width: 767px) {
  .reviews__img {
    width: 280px;
    height: 180px;
  }
}
.reviews__title {
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
@media screen and (max-width: 1279px) {
  .reviews__title {
    position: absolute;
    font-size: 30px;
    bottom: 640px;
    letter-spacing: 0.6px;
  }
}
@media screen and (max-width: 767px) {
  .reviews__title {
    bottom: 410px;
  }
}
.reviews__title-mini {
  color: #DF3D3A;
  font-family: Gilroy;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 16px;
}
.reviews__text {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 70px;
}
@media screen and (max-width: 1279px) {
  .reviews__text {
    width: 530px;
    margin-bottom: 50px;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .reviews__text {
    margin-bottom: 30px;
    width: 258px;
  }
}

.faq {
  padding-top: 16px;
  padding-bottom: 52px;
  background-color: #191919;
}
@media screen and (min-width: 768px) {
  .faq {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .faq {
    padding-top: 170px;
    padding-bottom: 170px;
  }
}
.faq__title {
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}
@media screen and (min-width: 767px) {
  .faq__title {
    font-size: 30px;
    line-height: 120%; /* 36px */
    letter-spacing: 0.6px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .faq__title {
    margin-bottom: 50px;
    font-size: 54px;
    font-weight: 600;
    line-height: 120%; /* 64.8px */
    letter-spacing: 1.08px;
  }
}
.faq__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.faq__item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  position: relative;
}
.faq__body {
  padding-top: 24px;
  padding-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .faq__body {
    padding-bottom: 27px;
  }
}
.faq__body-padding {
  padding-top: 0;
}
.faq__body-item {
  display: flex;
  justify-content: baseline;
  align-items: center;
  position: relative;
  padding-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .faq__body-item {
    padding-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .faq__body-item {
    justify-content: flex-start;
  }
}
.faq__body-item::before {
  display: block;
  align-items: center;
  margin-right: 16px;
  color: #e7e7e7;
  content: "01";
  font-style: 400, 20px, 0.7;
  font-family: "Roboto Condensed";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 35px */
}
@media screen and (min-width: 768px) {
  .faq__body-item::before {
    margin-right: 32px;
  }
}
.faq__tar::before {
  content: "02";
}
.faq__nas::before {
  content: "03";
}
.faq__iva::before {
  content: "04";
}
.faq__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .faq__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 23.2px */
  }
}
@media screen and (min-width: 1280px) {
  .faq__text {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 35px */
  }
}
.faq__button {
  position: absolute;
  right: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #e7e7e7;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Roboto Condensed";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 70%; /* 19.6px */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .faq__button {
    margin-left: 12px;
  }
}
@media screen and (min-width: 768px) {
  .faq__button {
    right: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .faq__button {
    align-self: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .faq__button {
    width: 42px;
    height: 42px;
  }
}
.faq__button:hover, .faq__button:focus {
  color: #df3d3a;
  background-color: rgba(210, 210, 210, 0.512);
}
.faq__content {
  list-style: none;
  margin-top: 10px;
  padding-left: 36px;
  padding-right: 44px;
  opacity: 1;
  max-height: 100%;
  color: rgba(255, 255, 255, 0.8);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .faq__content {
    padding-left: 60px;
  }
}
.faq__item.hide .faq__content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .order {
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 768px) {
  .order {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .order {
    padding-bottom: 170px;
  }
}
.order__container {
  position: relative;
}
@media screen and (max-width: 768px) {
  .order__container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .order__container {
    padding: 0 60px;
  }
}
@media screen and (min-width: 1440px) {
  .order__container {
    padding: 0 0 0 190;
  }
}
@media screen and (min-width: 1440px) {
  .order__content-wrap {
    width: 400px;
  }
}
.order__title {
  color: #e7e7e7;
  font-family: Gilroy;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 64.8px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  animation-duration: 2000ms;
  animation: letterSpacingAnimation 2s ease-in-out infinite;
}
@media screen and (max-width: 768px) {
  .order__title {
    text-align: center;
  }
}
.order__list {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .order__list {
    margin-bottom: 50px;
  }
}
.order__list__item {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.order__list__item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.order__list__button {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 25px 0;
  background-color: #191919;
  width: 100%;
  cursor: pointer;
}
.order__button-text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.2;
}
.order__arrow-icon {
  animation-duration: 2000ms;
  animation: realisticFloat 4s infiniteease-in-out;
}
.order__price {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #df3d3a;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .order__price {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .order__price {
    font-size: 54px;
    margin-bottom: 32px;
  }
}
.order__button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 22px 0;
  width: 100%;
  border: none;
  background-color: #df3d3a;
  color: rgba(255, 255, 255, 0.9);
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, #b5302d 50%);
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, color 0.5s ease 0s, background-color 0.5s ease;
}
.order__button:hover, .order__button:focus {
  background-color: #b5302d;
  background-position: -100% 100%;
}
@media screen and (min-width: 768px) {
  .order__button {
    width: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .order__button {
    width: 100%;
  }
}
.order__button__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .order__button__text {
    font-size: 20px;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio__label {
  display: inline-block;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .radio__label {
    margin-top: 330px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .radio__label {
    margin-top: 510px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .radio__label {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.dark {
  background-color: #000;
  margin-right: 20px;
}

.light {
  background-color: #fff;
}

.radio__img {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 480px) {
  .radio__img {
    width: 280px;
    height: 265px;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 76px) {
  .radio__img {
    width: 648px;
    height: 446px;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 1439px) {
  .radio__img {
    top: 60px;
    left: 50%;
    width: 648px;
    height: 446px;
    flex-shrink: 0;
    margin-top: 32px;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1440px) {
  .radio__img {
    margin-top: 32px;
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 480px) {
  .radio__img {
    width: 280px;
    height: 265px;
    flex-shrink: 0;
  }
}

.radio__input:checked + .radio__label {
  border: 5px solid #df3d3a;
}

.radio__input:checked + .radio__label .radio__img {
  opacity: 1;
}

@keyframes letterSpacingAnimation {
  0% {
    letter-spacing: 1.36px;
  }
  50% {
    letter-spacing: 4px;
  }
  100% {
    letter-spacing: 1.36px;
  }
}
@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
    filter: blur(10px);
  }
}
@keyframes realisticFloat {
  0% {
    transform: translateY(0) translate(0) rotate(0);
  }
  25% {
    transform: translateY(-10px) translate(-5px) rotate(-3deg);
  }
  50% {
    transform: translateY(5px) translate(5px) rotate(3deg);
  }
  75% {
    transform: translateY(-5px) translate(-3px) rotate(-2deg);
  }
  100% {
    transform: translateY(0) translate(0) rotate(0);
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(210, 210, 210, 0.512);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding-top: 93px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
  }
}

.modal {
  position: relative;
  padding: 50px 40px;
  background-color: #191919;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 450px;
    height: 600px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 500px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.9);
}
.modal__btn:hover, .modal__btn:focus {
  fill: #df3d3a;
}

.modal-btn__icon {
  fill: currentColor;
}

.form {
  display: flex;
  flex-direction: column;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  resize: none;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  outline: 0;
  font-size: 16px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field::-moz-placeholder {
  color: transparent;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:-moz-placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 250ms #df3d3a;
  font-size: 14px;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #df3d3a, #df3d3a);
     border-image: linear-gradient(to right, #df3d3a, #df3d3a);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: -3px;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  color: #df3d3a;
  font-weight: 700;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.form-check {
  margin-bottom: 70px;
}

.form-check__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check__field {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.icon-box {
  position: relative;
  display: block;
  margin-right: 8px;
  width: 30px;
  height: 28px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.form__icon {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
}

.form-check__field:checked .icon-box .form__icon {
  display: block;
}

.form-check__desrciption {
  font-size: 16px;
  line-height: 1.62;
  color: #e9edfa;
}

.form-check__link {
  color: #e9edfa;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.form-check__link:hover, .form-check__link:focus {
  color: #df3d3a;
}

.form__btn {
  cursor: pointer;
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #df3d3a;
  color: rgba(255, 255, 255, 0.9);
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  vertical-align: middle;
}
.form__btn::before, .form__btn::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover, .draw:focus {
  color: rgba(255, 255, 255, 0.9);
  background-color: #df3d3a;
  border: 2px solid #c0c0c0;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: rgba(255, 255, 255, 0.9);
  border-right-color: rgba(255, 255, 255, 0.9);
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: rgba(255, 255, 255, 0.9);
  border-left-color: rgba(255, 255, 255, 0.9);
  transition: rgba(255, 255, 255, 0.9) border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.meet:hover, .meet:focus {
  color: #c0c0c0;
}
.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: rgba(255, 255, 255, 0.9);
  border-right-color: rgba(255, 255, 255, 0.9);
}
.meet:hover::after {
  border-bottom-color: rgba(255, 255, 255, 0.9);
  border-left-color: rgba(255, 255, 255, 0.9);
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

.page-poster {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .page-poster {
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .page-poster {
    width: 1440px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 170px;
  }
}

.feedback__image {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .feedback__container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .feedback__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 190px;
  }
}
.feedback__contain {
  margin-left: 0;
  margin-right: 0;
  width: 280px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .feedback__contain {
    margin-bottom: 52px;
    width: 445px;
  }
}
@media screen and (min-width: 1280px) {
  .feedback__contain {
    margin-bottom: 0px;
    width: 400px;
  }
}
.feedback__title {
  font-family: "Gilroy";
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
  animation: letterSpacingAnimation 2s ease-in-out infinite;
}
@media screen and (min-width: 768px) {
  .feedback__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .feedback__title {
    font-size: 54px;
  }
}
.feedback__subtitle {
  font-family: "Gilroy";
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
@media screen and (min-width: 768px) {
  .feedback__subtitle {
    font-size: 20px;
    color: #e7e7e7;
  }
}
@media screen and (min-width: 1280px) {
  .feedback__subtitle {
    font-size: 28px;
  }
}
.feedback__button {
  display: inline-block;
  width: 100%;
  height: 58px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  font-family: "Gilroy";
  letter-spacing: 0.4px;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 2px #df3d3a;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  background: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .feedback__button {
    width: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .feedback__button {
    min-width: 510px;
  }
}
.feedback__button::before, .feedback__button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

/* form */
.form {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .form {
    width: 510px;
  }
}
.form__main {
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: "Gilroy";
}
.form__main .form__input {
  margin-bottom: 41px;
  padding-bottom: 17px;
  border-color: transparent;
  outline: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: inherit;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__main .form__input:hover, .form__main .form__input:focus {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #df3d3a;
  outline: transparent;
}
.form__main .form__texterea {
  padding-bottom: 60px;
  color: inherit;
  border-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  resize: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.form__main .form__texterea:hover, .form__main .form__texterea:focus {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #df3d3a;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__policy {
  font-family: "Gilroy";
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .form__policy {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .form__policy {
    font-size: 16px;
    line-height: 1.6;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}
.form__policys {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  cursor: pointer;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.form__policy-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
  margin-left: 4px;
  color: inherit;
  text-decoration: underline;
  color: #e9edfa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__policy-link:hover {
  color: #df3d3a;
}
.form__policy-link:focus {
  margin-left: 4px;
  color: inherit;
  outline: 1px solid #df3d3a;
}
.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.form__check-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 28px;
  padding-left: 6px;
  padding-bottom: 9px;
  background-color: #191919;
  border: 2px solid #e9edfa;
  border-width: 2px;
  border-radius: 2px;
  margin-right: 29px;
  vertical-align: middle;
}
.form__check-icon + .form__icon {
  display: none;
}
.form__checkbox:checked + .form__check-icon, .form__icon {
  display: block;
}

@keyframes letterSpacingAnimation {
  0% {
    letter-spacing: 1.36px;
  }
  50% {
    letter-spacing: 4px;
  }
  100% {
    letter-spacing: 1.36px;
  }
}
.footer {
  padding-top: 72px;
  padding-bottom: 52px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Gilroy", sans-serif;
  color: rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 170px;
    padding-bottom: 72px;
  }
}
.footer__container {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    padding-left: 190px;
    padding-right: 80px;
  }
}
.footer__mobile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .footer__mobile {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__mobile {
    justify-content: start;
  }
}
.footer__first {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer__first {
    margin-bottom: 0px;
    margin-right: 139px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__first {
    display: flex;
    margin-right: 50px;
  }
}
.footer__second {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .footer__second {
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .footer__second {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .footer__select {
    display: flex;
    margin-bottom: 0px;
    margin-right: 0px;
  }
}
.footer__select__item:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 1280px) {
  .footer__select__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}
.footer__select__item {
  transition: margin-top 0.3s ease;
  animation: float 3s ease-in-out infinite;
  animation-delay: 0s;
}
.footer__select__item:hover, .footer__select__item:focus {
  color: #df3d3a;
  text-decoration: none;
  outline: transparent;
}
.footer__primary {
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.8);
}
.footer__select__link {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.footer__select__link:hover, .footer__select__link:focus {
  color: #df3d3a;
  text-decoration: none;
  outline: transparent;
}
.footer__select__item:nth-child(2) {
  animation-delay: 0.4s;
}
.footer__select__item:nth-child(3) {
  animation-delay: 0.8s;
}
.footer__select__item:nth-child(4) {
  animation-delay: 1.2s;
}
.footer__select__item :nth-child(5) {
  animation-delay: 1.6s;
}
.footer__select__item:nth-child(6) {
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */