<section class="order" id="order">
    <div class="container order__container">
        <h2 class="order__title title">bose nc 700</h2>
        <div class="order__content-wrap">
            <input class="hidden radio__input" type="radio" id="radio-1" name="radio" checked="">
            <label class="dark radio__label" for="radio-1">
                <img class="radio__img" src="../img/headphones-black.png" loading="lazy" alt="Headphones">
            </label>
            <input class="hidden radio__input" type="radio" id="radio-2" name="radio">
            <label class="light radio__label" for="radio-2">
                <img class="radio__img" src="../img/headphones-white.png" loading="lazy" alt="Headphones">
            </label>
            <ul class="order__list">
                <li class="order__list__item">
                    <button class="button order__list__button" type="button">
                        <span class="order__button-text">Availability in stores</span>
                        <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="23"
                            viewBox="0 0 22 23" fill="none">
                            <path d="M1 21.4062L21 1.40625M21 1.40625L1 1.40625M21 1.40625L21 21.4062" stroke="#DF3D3A"
                                stroke-width="2" />
                        </svg>
                    </button>
                </li>
                <li class="order__list__item">
                    <a href="#characteristics" class="button order__list__button">
                        <span class="order__button-text">Characteristics</span>
                        <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="23"
                            viewBox="0 0 22 23" fill="none">
                            <path d="M1 21.4062L21 1.40625M21 1.40625L1 1.40625M21 1.40625L21 21.4062" stroke="#DF3D3A"
                                stroke-width="2" />
                        </svg>
                    </a>
                </li>
                <li class="order__list__item">
                    <button class="button order__list__button" type="button">
                        <span class="order__button-text">Payment and delivery methods</span>
                        <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="23"
                            viewBox="0 0 22 23" fill="none">
                            <path d="M1 21.4062L21 1.40625M21 1.40625L1 1.40625M21 1.40625L21 21.4062" stroke="#DF3D3A"
                                stroke-width="2" />
                        </svg>
                    </button>
                </li>
            </ul>
            <p class="order__price">14 999 UAH</p>
            <button class="button order__button" type="button" data-modal-nc-open>
                <span class="order__button__text"> Order</span>
            </button>
        </div>
    </div>
</section>





<div class="backdrop is-hidden" data-nc-modal>
    <div class="modal"> 
        <button class="modal__btn" type="button" data-modal-nc-close> 
            <svg  class="modal__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M18.0915 5.36396C18.482 5.75449 18.482 6.38765 18.0915 6.77818L13.1425 11.7272L18.0915 16.6777C18.482 17.0682 18.482 17.7014 18.0915 18.0919C17.701 18.4824 17.0678 18.4824 16.6773 18.0919L11.7282 13.1414L6.77779 18.0919C6.38727 18.4824 5.7541 18.4824 5.36358 18.0919C4.97306 17.7014 4.97306 17.0682 5.36358 16.6777L10.314 11.7272L5.36358 6.77817C4.97306 6.38764 4.97306 5.75448 5.36358 5.36396C5.75411 4.97343 6.38727 4.97343 6.7778 5.36396L11.7282 10.313L16.6773 5.36396C17.0678 4.97344 17.701 4.97344 18.0915 5.36396Z"/>
                </svg> 
        </button>
        <form class="form" action="#">
            <div class="item-wrapper">
                <div class="field form__group"> 
                    <input type="text" class="form__field" placeholder="Name" name="name"
                        id="name" required=""> 
                        <label for="name" class="form__label">Your name</label> 
                    </div>
                <div class="field form__group"> 
                    <input type="email" class="form__field" placeholder="email" name="email" id="email" required=""> 
                        <label for="email" class="form__label">Your e-mail</label> 
                    </div>
                <div class="field form__group"> 
                    <textarea type="text" class="form__field form__field--pading" placeholder="message" name="message" id="message" required="" rows="4"></textarea> 
                        <label for="message" class="form__label">Send us a message</label> 
                    </div>
            </div>
            <div class="form-check"> 
                <label class="form-check__item"> 
                    <input class="form-check__field" type="checkbox" name="agreement" value="agree"> 
                        <span class="icon-box">
                            <svg class="form__icon" xmlns="http://www.w3.org/2000/svg" width="31" height="32" viewBox="0 0 31 32" fill="none">
                                <rect x="1" y="4.91797" width="28" height="25.918" stroke="white" stroke-opacity="0.8" stroke-width="2"/>
                                <path d="M7 13L14.1916 20.1916C14.6195 20.6195 15.3265 20.5722 15.6936 20.0911L29.5 2" stroke="#DF3D3A" stroke-width="3" stroke-linecap="round"/>
                                </svg>
                    </span> 
                        <span class="form-check__desrciption">I agree to the 
                            <a class="form-check__link" href="#">privacy policy</a>
                        </span> 
                        </label> 
                    </div> 
                    <button class="draw form__btn meet" type="submit">send</button>
        </form>
    </div>
</div>