<section class="capable">
    <div class="container">
        <h2 class="capable__title">capable of so much</h2>
        <ul class="capable__list">
            <li class="capable__item">
                <div class="capable__box">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
  <circle cx="6.5" cy="6.5" r="6.5" fill="#DF3D3A"/>
                </svg>
                <p class="capable__text">Ability to receive calls</p>
                </div>
            </li>
            <li class="capable__item">
                <div class="capable__box">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
  <circle cx="6.5" cy="6.5" r="6.5" fill="#DF3D3A"/>
                </svg>
                <p class="capable__text">Rich and powerful sound</p>
                </div>
            </li>
            <li class="capable__item">
                <div class="capable__box">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
  <circle cx="6.5" cy="6.5" r="6.5" fill="#DF3D3A"/>
                </svg>
                <p class="capable__text">Active noise cancellation option</p>
                </div>
            </li>
            <li class="capable__item">
                <div class="capable__box">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
  <circle cx="6.5" cy="6.5" r="6.5" fill="#DF3D3A"/>
                </svg>
                <p class="capable__text">Unsurpassed microphone system</p>
                </div>
            </li>
            <li class="capable__item">
                <div class="capable__box">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
  <circle cx="6.5" cy="6.5" r="6.5" fill="#DF3D3A"/>
                </svg>
                <p class="capable__text">Support of voice assistants</p>
                </div>
            </li>
            <li class="capable__item">
                <div class="capable__box">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
  <circle cx="6.5" cy="6.5" r="6.5" fill="#DF3D3A"/>
                </svg>
                <p class="capable__text">Bose AR Augmented Reality Audio Platform</p>
                </div>
            </li>
        </ul>
    </div>
</section>