<section class="faq" id="faq">
  <div class="container">
    <h2 class="faq__title title">Faq</h2>
        <ul class="faq__body faq__body-padding">
          <li class="faq__body-item">
            <p class="faq__text">How to pair with a mobile device?</p>
            <button class="faq__button"> ? </button>
          </li>
        </ul>
        <ul class="faq__body">
          <li class="faq__body-item">
            <p class="faq__text">
              What is the wireless range of the Bose NC 700?
            </p>              
            <button class="faq__button">?</button>
          </li>
        </ul>
        <ul class="faq__body">
          <li class="faq__body-item">
            <p class="faq__text">
              How do I fold the Bose NC 700 headphones for storage?
            </p>
            <button class="faq__button">?</button>
          </li>
        </ul>
        <ul class="faq__body">
          <li class="faq__body-item">
            <p class="faq__text">Does the guarantee work internationally?</p>
            <button class="faq__button">?</button>
          </li>
        </ul>
  </div>
</section>
