<section class="feedback">
    <div class="container feedback__container">
        <div class="feedback__contain">
            <h2 class="feedback__title">Feedback</h2>
            <p class="feedback__subtitle"> We'll help you find the right headphones for you. </p>
        </div>
        <form class="feedback__form">
            <div class="form__main"> 
                <input class="form__input" type="text" name="name" id="user-name" placeholder="Your name" required> 
                </div>
            <div class="form__main"> 
                <input class="form__input" type="email" id="email" placeholder="Your e-mail" required>
                </div>
            <div class="form__main"> 
                <textarea class="form__texterea" name="comment" id="comment" placeholder="Send us a message"></textarea> 
                </div>
            <div class="form__policy"> 
                <label for="form__policys"> 
                    <input class="form__checkbox" type="checkbox" name="policy" id="policy">
                    <span class="form__check-icon"> 
                        <svg class="form__icon" xmlns="http://www.w3.org/2000/svg" width="26" height="22" viewBox="0 0 26 22" fill="none">
                            <path d="M2 13L9.19156 20.1916C9.61949 20.6195 10.3265 20.5722 10.6936 20.0911L24.5 2" stroke="#DF3D3A" stroke-width="3" stroke-linecap="round"/>
                            </svg>
                        <!-- <svg class="icon" width="23" height="19">
                            <use href="../img/symbol.defs.svg#check"></use>
                        </svg>  -->
                    </span> I agree to the <a class="form__policy-link" href="#" target="_blank">privacy policy</a>
                </label> 
            </div> 
            <button class="feedback__button draw meet" type="submit">send</button>
        </form>
    </div>
  </section>