<section class="guarantes">
  <div class="container guarantes__boxx">
    <picture>
      <source srcset="./img/desktop/imgnawusnik-dekstop@1x.jpg 1x, ./img/desktop/imgnawusnik-dekstop@2x.jpg 2x" media="(min-width: 1280px)">
        <source src="../img/tablet/imgnawusnik-tablet@1x.webp 1x, ../img/tablet/imgnawusnik-tablet@2x.webp 2x" media="(min-width: 768px)">> 
        <source srcset="./img/mobile/imgnawusnik-tel@1x.jpg 1x, ./img/mobile/imgnawusnik-tel@2x.jpg 2x"  media="(max-width: 767px)">
      <img class="guarantes__img" src="../img/navusnili.jpg" alt="" />
      </picture>
     <div class="guarantes__div">
    <h2 class="guarantes__title">Guarantees</h2>
    <svg class="guarantes__svg" >
      <use href="./img/symbol-defs.svg#icon-krug"></use>
    </svg>
    <h3 class="guarantes__title-mini">90 Day Money Back Guarantee</h3>
    <p class="guarantes__textt">If you are not 100% satisfied with a product, you can return it back for a full refund.</p>
   <svg class="guarantes__svg" >
      <use href="./img/symbol-defs.svg#icon-krug"></use>
    </svg>
    <h3 class="guarantes__title-mini">1 year warranty</h3>
    <p class="guarantes__text">Regardless of your country of residence,
if your headphones are broken, we will 
send you new ones.</p>
     </div>
     <img class="guarantes__img-telephone" src="../img/navusnili.jpg" alt="" />
  </div>
</section>