<section class="header">
    <div class="container">
        <a href="" class="header__logo"><img src="./img/bose.webp" alt="bose" class="header__img"></a>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"><a href="" class="header__link">Characteristics</a></li>
                <li class="header__item"><a href="" class="header__link">History</a></li>
                <li class="header__item"><a href="" class="header__link">Reviews</a></li>
                <li class="header__item"><a href="" class="header__link">Payment and delivery</a></li>
            </ul>
        </nav>
    </div>
</section>