<section class="header">
    <div class="container">
        <a href="" class="header__logo"><img src="./img/bose.webp" alt="bose" class="header__img"></a>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"><a href="#features" class="header__link">Characteristics</a></li>
                <li class="header__item"><a href="#history" class="header__link">History</a></li>
                <li class="header__item"><a href="#reviews" class="header__link">Reviews</a></li>
                <li class="header__item"><a href="#bose" class="header__link">Payment and delivery</a></li>
            </ul>
        </nav>
        <a href="#" class="header__button" data-modal-header-open>
        <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="12" viewBox="0 0 22 12" fill="none">
            <path d="M22 11.989H0V10.0371H22V11.989ZM22 7.10933H0V5.15747H22V7.10933ZM22 2.22969H0V0.277832H22V2.22969Z" fill="white" fill-opacity="0.8"/>
          </svg>
        </a>
    </div>
    <div class="menu is-hidden" data-header-modal>
        <div class="menu__wrap">
        <button type="button" class="menu__btn" data-modal-header-close>
            <svg class="menu__close">
                <use href="../img/symbol.defs.svg#close"></use>
            </svg>
        </button>
        <a href="https://bose-nc700.vercel.app/#characteristics"><img src="../img/bose.webp" alt=""></a>
    </div>
        <ul class="menu__list">
          <li class="menu__item"><a href="#" class="menu__link">Characteristics</a></li>
          <li class="menu__item"><a href="#" class="menu__link">History</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Reviews</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Payment and delivery</a></li>
        </ul>
    </div>
</section>
<script src="./burger.js"></script>