<section class="page-poster">
    <picture>
        <source srcset="../img/desktop/page-img-desktop@1x.webp 1x, ../img/desktop/page-img-desktop@2x.webp 2x" media="(min-width:1440px)">
        <source srcset="../img/tablet/page-img-tabletp@1x.webp 1x, ../img/tablet/page-img-tabletp@2x.webp 2x" media="(min-width:768px)">
        <source srcset="../img/mobile/page-img-mobile@1x.webp 1x, ../img/mobile/page-img-mobile@2x.webp 2x" media="(max-width:767px)">
        <img class="feedback__image" src="../img/page-img.png" loading="lazy" alt="page-img">
    </picture>
</section>