<section class="page__poster">
    <!-- <picture>
        <source srcset="/img-feedback@1x-1440.391dfd08.png 1x, /img-feedback@2x-1440.58d8279e.png 2x" media="(min-width:1440px)">
        <source srcset="/img-feedback@1x-768.158076e5.png 1x, /img-feedback@2x-768.18397ec4.png 2x"  media="(min-width:768px)">
        <source srcset="/img-feedback@1x-480.e23831c0.png 1x, /img-feedback@2x-480.63a3c5c2.png 2x" media="(max-width:767px)"> -->
             <img class="page__poster__image" src="../img/img-section.png"  loading="lazy" alt="Проект-1">
    <!-- </picture> -->
</section>