<section class="premium">
    <div class="container">
        <div class="premium__boxx">
            <div class="premium__wrapper">
        <h2 class="premium__title">Premium design 
            and comfort</h2>
        </div>
        </div>
        <ul class="premium__list">
            <li class="premium__item">
                <h3 class="premium__subtitle">11 levels of noise reduction</h3>
                <div class="premium__box">
                <p class="premium__text">With the new Bose Noise Canceling Headphone 700, you can smoothly increase or decrease the level of 
                    noise cancellation. You can be heard perfectly and you hear the interlocutor clearly, even in a noisy environment!</p>
                </div>
                </li>
            <li class="premium__item">
                <h3 class="premium__subtittle">Comfort up to max level</h3>
                <div class="premium__box">
                <p class="premium__text">Stylish, lightweight stainless steel headband with soft, angled cups of headphones for comfortable seating. The inner side is made of soft gel lining that fits well to the head.</p>
            </div>
            </li>
        </ul>
        <img src="../img/vomen-main.png" alt="" class="premium__img">
    </div>
</section>